In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Advertising.csv")

In [3]:
df

        TV  radio  newspaper  sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [4]:
X = df.iloc[:,0:3]
y = df.iloc[:,-1]

In [5]:
X

        TV  radio  newspaper
0    230.1   37.8       69.2
1     44.5   39.3       45.1
2     17.2   45.9       69.3
3    151.5   41.3       58.5
4    180.8   10.8       58.4
..     ...    ...        ...
195   38.2    3.7       13.8
196   94.2    4.9        8.1
197  177.0    9.3        6.4
198  283.6   42.0       66.2
199  232.1    8.6        8.7

[200 rows x 3 columns]

In [6]:
y

0      22.1
1      10.4
2       9.3
3      18.5
4      12.9
       ...
195     7.6
196     9.7
197    12.8
198    25.5
199    13.4
Name: sales, Length: 200, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=48)

In [38]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, AdaBoostRegressor
from sklearn.linear_model import LogisticRegression, LinearRegression

In [24]:
estimators = [
              ('dt',DecisionTreeRegressor(max_depth=6)),
              ('rf',RandomForestRegressor(n_estimators=100))
              ]

In [27]:
from sklearn.ensemble import StackingRegressor, StackingClassifier

stacking_model = StackingRegressor(
                    estimators=estimators,
                    final_estimator=AdaBoostRegressor(),
                    cv = 10)

In [28]:
stacking_model.fit(X_train, y_train)

StackingRegressor(cv=10,
                  estimators=[('dt', DecisionTreeRegressor(max_depth=6)),
                              ('rf', RandomForestRegressor())],
                  final_estimator=AdaBoostRegressor())

In [29]:
y_pred = stacking_model.predict(X_test)

In [30]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9595422944020237

By changing the estimator and the meta model

In [39]:
estimators = [
              ('lr', LinearRegression()),
              ('dt',DecisionTreeRegressor(max_depth=6)),
              ('rf',RandomForestRegressor(n_estimators=100))
              ]

In [40]:
stacking_model = StackingRegressor(
                    estimators=estimators,
                    final_estimator=AdaBoostRegressor(),
                    cv = 10)

In [41]:
stacking_model.fit(X_train, y_train)

StackingRegressor(cv=10,
                  estimators=[('lr', LinearRegression()),
                              ('dt', DecisionTreeRegressor(max_depth=6)),
                              ('rf', RandomForestRegressor())],
                  final_estimator=AdaBoostRegressor())

In [42]:
y_pred = stacking_model.predict(X_test)

In [43]:
r2_score(y_test, y_pred)

0.9708213638626937